/node_modules
/public/storage
/public/hot
/public/css
/public/fonts
/public/img
/public/js
/public/vendor
/public/build
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.prod
.env.stage
.DS_Store
npm-debug.*
/tests/file/tmpData
/DataGitIgnore

_ide_helper*.php
