.modalWaitContents {
  display: table;
  margin: 60px;
  vertical-align: middle;
}
.modalWaitIconDiv {
  display: table-cell;
  vertical-align: middle;
  font-size: 100px;

}
.modalWaitText {
  display: table-cell;padding-left:30px;
}
.confirmModalDiv {

}