
@import "./CollectionTable";
@import "./recordTable";
@import "./searchTable";



// Yeah I use bootstrap...... Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";


.header_selected{
  background-color: green;
}
.row_selected {
  background-color: green;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 300;
  margin-bottom: 80px;
  padding-top: 25px;
  background-color: white;
}
.container{
  margin-left:10px;
}
.table td input {
  width: 100%;
}
.table thead {
  background-color: rgb(250,250,250);
}



.btn-back {
  //why will this not go down?
  margin: 5px 5px 5px 0px;
}
.btn-danger-light{
  color: #d9534f;
  border-color: #d43f3a;
}
.errorMessage {
}
.errorList {
  @extend .bg-danger;
}
.errorList li {

  font-size: 1.5em;
}




