@import "./CollectionTable";
@import "./recordTable";
@import "./searchTable";

table{
  margin: 5px 0px 5px 0px;
  border-collapse: collapse;
  border: 1px solid gray;
  a {
    text-decoration: underline;
  }
}
.button{
  //background-color: #4CAF50; /* Green */
  //border: none;
  color: black;
  padding: 10px 10px;
  border-radius: 2px;
  margin: 10px 10px 0px 0px;
  text-align: center;
  font-size: 16px;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}





//.save {
//  background-color: green; /* Green */
//  color: white;
//}
//.save:hover {
//  background-color: #AAAAAA; /* Green */
//  color: white;
//}
//.cancel{
//  border-color: red;
//  background-color: white; /* Green */
//  color: red;
//}
//.cancel:hover {
//  background-color: #4CAF50; /* Green */
//  color: white;
//}





