.awesome-table{
  border-collapse: collapse;
  border: 1px solid gray;

}


//move to collection? should be called awesome-collection-table
.awesome-table thead {
  background-color: rgb(250,250,250);
}
.awesome-table thead th{
  text-align: center;
  vertical-align:center;
  border: 1px solid gray;
}

//input is fucked,,,, i dont  think th_width is working.... that kinda sucks anyhow....



//totals


.button{
  //background-color: #4CAF50; /* Green */
  //border: none;
  color: black;
  padding: 10px 10px;
  border-radius: 2px;
  margin: 10px 10px 0px 0px;
  text-align: center;
  font-size: 16px;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

//.save {
//  background-color: green; /* Green */
//  color: white;
//}
//.save:hover {
//  background-color: #AAAAAA; /* Green */
//  color: white;
//}
//.cancel{
//  border-color: red;
//  background-color: white; /* Green */
//  color: red;
//}
//.cancel:hover {
//  background-color: #4CAF50; /* Green */
//  color: white;
//}





