.at-collection-table {
  margin: 5px 0px 5px 0px;
  a {
    text-decoration: underline;
  }
}
.at-collection-table th{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.at-collection-table th p {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.at-collection-table th i {
  float: right;
  display: inline-block;
  vertical-align:middle;
  padding-left: 5px;
}

.at-collection-table tbody tr:nth-child(even){
  background: RGB(240,240,240);
}
.at-collection-table tbody tr:nth-child(odd){
  background: RGB(255,255,255);
}
.at-collection-table tbody tr:hover{
  background: RGB(210,210,210);
}
 .thHighlight
 {
   background-color: yellow;
 }

.at-collection-table_edit_buttons button {
  margin: 5px 5px 5px 0px;

}
.at-collection-table_edit_buttons .edit {
  margin: 5px 5px 5px 0px;
}
.at-collection-table_edit_buttons .save {
  margin: 5px 5px 5px 0px;
}
.at-collection-table_edit_buttons .cancel {
  margin: 5px 5px 5px 0px;
}
.at-collection-table_edit_buttons .delete {
  margin: 5px 5px 5px 0px;
}
