.awesome-collection-table {

}
.awesome-collection-table tfoot tr td {
  text-align: right;
}
.awesome-collection-table th{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.awesome-collection-table th p {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.awesome-collection-table th i {
  float: right;
  display: inline-block;
  vertical-align:middle;
  padding-left: 5px;
}
.awesome-collection-table thead {
  background-color: rgb(250,250,250);
}
.awesome-collection-table thead th{
  text-align: center;
  vertical-align:center;
  border: 1px solid gray;
}
.awesome-collection-table tfoot {
}
.at-footer-data {
  border: 1px solid black;

}
.at-footer-label{

}







//tbody
.awesome-collection-table-tbody {
  border: 1px solid black;
  //background-color:blue;
}
.awesome-collection-table-tbody tr {
  //text-align: right;
  //padding:20px;
}
.awesome-collection-table-tbody td {
  border: 1px solid black;


  text-align: right; /* center checkbox horizontally */
  //vertical-align: middle; /* center checkbox vertically */
}
.awesome-collection-table-tbody tr td input{
  //width:90%;
  //text-align: right;
  //font-size:20px;
}


.awesome-collection-table-tbody tr:nth-child(even) {background: #EEE}
.awesome-collection-table-tbody tr:nth-child(odd) {background: #FFF}

.awesome-collection-table-tbody tr:hover{
  background: RGB(210,210,210);
}
 .thHighlight
 {
   background-color: yellow;
 }

.awesome-collection-table-totals tr {
  text-align: right;
}
.awesome-collection-table-totals td {
  border: 1px solid black;
}



.awesome-collection-table_edit_buttons button {
  margin: 5px 5px 5px 0px;

}
.awesome-collection-table_edit_buttons .edit {
  margin: 5px 5px 5px 0px;
}
.awesome-collection-table_edit_buttons .save {
  margin: 5px 5px 5px 0px;
}
.awesome-collection-table_edit_buttons .cancel {
  margin: 5px 5px 5px 0px;
}
.awesome-collection-table_edit_buttons .delete {
  margin: 5px 5px 5px 0px;
}

.header_selected{
  background-color: green;
}
.row_selected {
  background-color: green;
}

