.recordTableView .btn-new
{
}
.record_table {
  width: 600px;
  margin: 5px 0px 5px 0px;
}

.record_table tbody td {
  white-space: pre-wrap;
  input {
    width: 100%;
  }
  textarea{
    width:100%;
  }

}
.record_table_buttons button {

  margin: 5px 5px 5px 0px;

}
.record_table_buttons .edit {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .save {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .cancel {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .delete {
  margin: 5px 5px 5px 0px;
}
