
.awesome-record-table th {
  border: 1px solid black;
  text-align: left;
}
.awesome-record-table tbody td {
  border: 1px solid black;
  text-align: right;
  white-space: pre-wrap;

}


.record_table_buttons button {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .edit {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .save {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .cancel {
  margin: 5px 5px 5px 0px;
}
.record_table_buttons .delete {
  margin: 5px 5px 5px 0px;
}
