.awesome-search-table {
  margin: 5px 0px 5px 0px;
}

.awesome-search-table thead th{
  text-align: center;
  vertical-align:center;
  border: 1px solid gray;
}
.awesome-search-table tbody td {
  border: 1px solid black;
  text-align: right; /* center checkbox horizontally */
  //vertical-align: middle; /* center checkbox vertically */
}


.search_buttons {

}
.search_buttons button {
  margin: 5px 5px 5px 0px;
}
.search_buttons  .search {

}

.search_buttons  i {
  display: inline-block;
  vertical-align:middle;
  padding-right: 5px;
}
.search_buttons  p {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.search_buttons   .reset {
}
