@import "table/CollectionTable";
@import "table/recordTable";
@import "table/searchTable";

.table td input {
  width: 100%;
}
.table thead {
  background-color: rgb(250,250,250);
}



.btn-back {
  //why will this not go down?
  margin: 5px 5px 5px 0px;
}
.btn-danger-light{
  color: #d9534f;
  border-color: #d43f3a;
}
.errorMessage {
}
.errorList {
  @extend .bg-danger;
}
.errorList li {

  font-size: 1.5em;
}