
html {
    min-height: 100%;
    position: relative;
}

body {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
//padding-top: 25px;
    background-color: white;
}
.container{
    margin-left:10px;
}
